#container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#routing{
    position: absolute;
    z-index: 2;
    margin-top: 250px;
    margin-left:14px ;
}

#geolocate{
    z-index: 2;
}


#map{
    width: 98%;
    height: 90vh;
    /* margin: 10px; */
    border:2px solid rgba(0,0,0,1);
    border-radius:3px;
    z-index: 1;
    position: absolute;
   
}

/*  find User location */
.myLocation {
    
    position:absolute;
    
    width:20px;
    z-index: 2;
    text-align:center;
    padding:10px;
    border:4px solid rgba(0,0,0,0.4);
    border-radius:3px;
    margin-left:10px;
    margin-top: 500px;
    }
    .myLocation:hover {
      background:#3074a4;
      color:#fff;
      }

 /* Geocoder  */
      .leaflet-control-geocoder a {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;
    }
    
    .leaflet-control-geocoder {
        box-shadow: 0 1px 7px #999;
        background: #f8f8f9;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
    
    .leaflet-control-geocoder a {
        background-image: url(./assets/geocoder.png);
        width: 36px;
        height: 36px;
    }
    
    .leaflet-touch .leaflet-control-geocoder a {
        width: 44px;
        height: 44px;
    }
    
    .leaflet-control-geocoder .leaflet-control-geocoder-form,
    .leaflet-control-geocoder-expanded .leaflet-control-geocoder-toggle {
        display: none;
    }
    
    .leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
        display: block;
        position: relative;
    }
    
    .leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
        padding: 5px;
    }
     /* Geocoder  */